<main class="flex">
  <!-- Left section -->
  <section class="left-section flex justify-end placeholder bg-red-400">
    <div class="left-section-content">
      <!-- Left section title -->
      <div class="py-2 px-4 flex justify-center items-center">
        <strong class="text-3xl">Radio patio</strong>
      </div>

      <!-- Left section menu -->
      <div class="">
        <ul class="menu-options flex flex-col gap-2">
          <li class="flex flex-row items-center gap-2">
            <i>
              <app-search-svg />
            </i>
            Explorar
          </li>
          <li class="flex flex-row items-center gap-2">
            <i>
              <app-profile-svg />
            </i>
            Perfil
          </li>
          <li class="flex flex-row items-center gap-2">
            <i>
              <app-settings-svg />
            </i>
            Settings
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- Center section -->
  <section class="center-section placeholder pr-6 pl-6 bg-yellow-200">
    <div class="flex flex-row justify-between py-2">
      <strong class="text-3xl">Home</strong>
      <i>
        <app-star-svg></app-star-svg>
      </i>
    </div>

    <!-- Post section -->
    <article class="flex flex-row gap-3 w-full h-[125px]">
      <!-- Post image -->
      <div class="w-[40px] pt-[10px]">
        <img
          class="rounded-full"
          src="https://pbs.twimg.com/profile_images/1714979648424083456/kA54qel7_400x400.jpg"
          alt="Imagen del usuario"
        />
      </div>

      <!-- Post publish section -->
      <div class="flex flex-col gap-4 w-full">
        <textarea
          class="w-full h-[52px] pt-[12px] pb-[12px] bg-transparent"
          name="post"
          id="post"
          cols="30"
          rows="10"
          placeholder="What is happening?!"
        ></textarea>

        <!-- Post icons and post button -->
        <div class="flex flex-row justify-between">
          <!-- Icons -->
          <ul class="flex flex-row gap-2">
            <li>
              <app-image-svg></app-image-svg>
            </li>
            <li>
              <app-gif-svg></app-gif-svg>
            </li>
            <li>
              <app-smile-svg></app-smile-svg>
            </li>
            <li>
              <app-stats-svg></app-stats-svg>
            </li>
            <li>
              <app-ubication-svg></app-ubication-svg>
            </li>
          </ul>

          <!-- Button -->
          <button
            class="bg-blue-400 w-[78px] hover:bg-blue-600 text-white font-bold px-4 rounded-full"
          >
            Tweet
          </button>
        </div>
      </div>
    </article>

    <!-- Tweets Section -->
    <article>
      <h1>Tweets</h1>
      <!-- Tweets cards -->
      <div *ngFor="let tweet of tweets">
        <!-- Username -->
        <h3>{{ tweet.author }}</h3>
        <!-- Tweet content -->
        <p>{{ tweet.content }}</p>
        <!-- Publish date -->
        <strong>{{ tweet.publish_date }}</strong>
      </div>
    </article>
  </section>

  <!-- Right section -->
  <section
    class="flex flex-col gap-4 right-section placeholder bg-green-300 py-2 px-4"
  >
    <div class="w-[305px] h-full flex flex-col gap-5">
      <nav
        class="w-full h-[35px] flex flex-row items-center bg-gray-500 rounded-md"
      >
        <i class="p-3">
          <app-search-svg></app-search-svg>
        </i>
        <input
          class="bg-transparent w-full py-2 pr-2 focus:outline-none"
          type="search"
          placeholder="Busca lo que quieras en Radio patio"
        />
      </nav>

      <h2 class="text-xl w-full">Echa un vistazo a estos perfiles</h2>
      <!-- Recomendated user card -->
      <article class="w-full">
        <app-following-card></app-following-card>
        <app-following-card></app-following-card>
        <app-following-card></app-following-card>
        <app-following-card></app-following-card>
      </article>

      <h2 class="text-xl w-full">Spain Trend</h2>
      <article class="">
        <app-trend></app-trend>
        <app-trend></app-trend>
        <app-trend></app-trend>
        <app-trend></app-trend>
        <app-trend></app-trend>
        <app-trend></app-trend>
        <app-trend></app-trend>
        <app-trend></app-trend>
      </article>
    </div>
  </section>
</main>
