<!-- Tweets Card -->
<article class="flex flex-col gap-4">
  <div
    *ngFor="let tweet of tweets"
    class="flex flex-col rounded-lg dark:bg-gray-800 dark:border-gray-700"
  >
    <!-- Tweet card header -->
    <header
      class="flex flex-row justify-between items-center p-3 hover:bg-gray-700 w-full rounded-t-lg"
    >
      <!-- User info -->
      <div class="flex flex-row gap-2 items-center">
        <!-- User avatar -->
        <img
          class="w-7 h-7 rounded"
          src="https://pbs.twimg.com/profile_images/1714979648424083456/kA54qel7_400x400.jpg"
          alt="{{ tweet.author }} avatar"
        />
        <div>
          <h5>{{ tweet.author }}</h5>
          <span class="text-[0.8rem]">
            {{ tweet.publishDate | date : "dd/MM" }}
          </span>
        </div>
        <!-- Por ahora no se mostraran tweets de gente a la que no sigue por lo que no es necesario -->
        <!-- comprobar el tweet es de uno de los que sigue -->
        <!-- <button
          class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500"
        >
          Seguir
        </button> -->
      </div>
      <div>icon</div>
    </header>

    <p class="mb-3 font-normal p-3 text-gray dark:text-white">
      {{ tweet.content }}
    </p>

    <!-- Interaction buttons -->
    <div class="flex flex-row items-center gap-3 p-3">
      <!-- Comment -->
      <button>
        <app-comment-icon />
      </button>

      <!-- Like button -->
      <button (click)="likeTweet(tweet.id)">
        <app-like-icon [liked]="tweet.liked" />
      </button>

      <!-- Retweet -->
      <button href="">
        <app-retweet-icon />
      </button>
    </div>
  </div>
</article>
