<!-- Tweets Card -->
<article class="flex flex-col gap-4">
  <div
    *ngFor="let tweet of tweets"
    class="flex flex-col rounded-lg dark:bg-gray-800 dark:border-gray-700"
  >
    <!-- Tweet card header -->
    <header
      class="flex flex-row justify-between items-center p-3 hover:bg-gray-700 w-full rounded-t-lg"
    >
      <!-- User info -->
      <div class="flex flex-row gap-2 items-center">
        <!-- User avatar -->
        <img
          class="w-7 h-7 rounded"
          src="https://pbs.twimg.com/profile_images/1714979648424083456/kA54qel7_400x400.jpg"
          alt="{{ tweet.author }} avatar"
        />
        <div>
          <h5>{{ tweet.author }}</h5>
          <span class="text-[0.8rem]">
            {{ tweet.publishDate | date : "dd/MM" }}
          </span>
        </div>
        <!-- Por ahora no se mostraran tweets de gente a la que no sigue por lo que no es necesario -->
        <!-- comprobar el tweet es de uno de los que sigue -->
        <!-- <button
          class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500"
        >
          Seguir
        </button> -->
      </div>
      <div>icon</div>
    </header>

    <p class="mb-3 font-normal p-3 text-gray dark:text-white">
      {{ tweet.content }}
    </p>

    <!-- Interaction buttons -->
    <div class="flex flex-row items-center gap-3 p-3">
      <!-- Comment -->
      <button
        data-modal-target="default-modal"
        data-modal-toggle="default-modal"
        type="button"
        (click)="openModal()"
      >
        <app-comment-icon />
      </button>

      <!-- Comment modal -->
      <div
        id="comment-modal"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center mt-10 w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
      >
        <div
          class="relative p-4 w-full max-w-2xl max-h-full flex flex-col justify-between"
        >
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div
              class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
            >
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Comment
              </h3>
              <button
                (click)="closeModal()"
                type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="default-modal"
              >
                <svg
                  class="w-3 h-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                  />
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
              <app-comment-section
                (toast)="handleActiveToast(!toast)"
                [tweetId]="tweet.id"
              />
            </div>
          </div>

          <!-- Modal toast -->
          <footer id="toast" class="hidden justify-center mb-16">
            <div
              id="toast-simple"
              class="flex items-center w-full max-w-xs p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800"
              role="alert"
            >
              <svg
                class="w-5 h-5 text-blue-600 dark:text-blue-500 rotate-45"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 18 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"
                />
              </svg>
              <div class="ps-4 text-sm font-normal">
                Message sent successfully.
              </div>
            </div>
          </footer>
        </div>
        <!-- Fondo borroso -->
        <div
          class="fixed top-0 right-0 bottom-0 left-0 bg-black bg-opacity-50 backdrop-blur-md -z-50"
        ></div>
      </div>

      <!-- Like button -->
      <button (click)="like(tweet.id)">
        <app-like-icon [liked]="tweet.liked" />
      </button>

      <!-- Retweet -->
      <button (click)="retweet(tweet.id)">
        <app-retweet-icon [retweeted]="tweet.retweeted" />
      </button>
    </div>
  </div>
</article>
