<!-- Center section -->
<section class="center-section pr-6 pl-6">
  <div class="flex flex-row justify-between py-2">
    <strong class="text-3xl">Home</strong>
    <app-star-svg></app-star-svg>
  </div>

  <!-- Post section -->
  <article class="flex flex-row gap-3 w-full h-[125px]">
    <!-- Post image -->
    <div class="w-[40px] pt-[10px]">
      <img
        class="rounded-full"
        src="https://pbs.twimg.com/profile_images/1714979648424083456/kA54qel7_400x400.jpg"
        alt="Imagen del usuario"
      />
    </div>

    <!-- Post publish section -->
    <div class="flex flex-col gap-4 w-full">
      <textarea
        class="w-full h-[52px] pt-[12px] pb-[12px] bg-transparent"
        name="post"
        id="post"
        cols="30"
        rows="10"
        placeholder="What is happening?!"
      ></textarea>

      <!-- Post icons and post button -->
      <div class="flex flex-row justify-between">
        <!-- Icons -->
        <ul class="flex flex-row gap-2">
          <li>
            <app-image-svg />
          </li>
          <li>
            <app-gif-svg />
          </li>
          <li>
            <app-smile-svg />
          </li>
          <li>
            <app-stats-svg />
          </li>
          <li>
            <app-ubication-svg />
          </li>
        </ul>

        <!-- Button -->
        <button
          class="bg-blue-400 w-[78px] hover:bg-blue-600 text-white font-bold px-4 rounded-full"
        >
          Tweet
        </button>
      </div>
    </div>
  </article>

  <!-- Tweets Section -->
  <article class="flex flex-col gap-4">
    <div
      *ngFor="let tweet of tweets"
      class="flex flex-col rounded-lg dark:bg-gray-800 dark:border-gray-700"
    >
      <!-- Tweet card header -->
      <header
        class="flex flex-row justify-between items-center p-3 hover:bg-gray-700 w-full rounded-t-lg"
      >
        <!-- User info -->
        <div class="flex flex-row gap-2 items-center">
          <!-- User avatar -->
          <img
            class="w-7 h-7 rounded"
            src="https://pbs.twimg.com/profile_images/1714979648424083456/kA54qel7_400x400.jpg"
            alt="{{ tweet.author }} avatar"
          />
          <h5>{{ tweet.author }}</h5>
          <button
            class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500"
          >
            Seguir
          </button>
        </div>
        <div>icon</div>
      </header>

      <p class="mb-3 font-normal p-3 text-gray dark:text-white">
        {{ tweet.content }}
      </p>

      <!-- Interaction buttons -->
      <div class="flex flex-row items-center gap-3 p-3">
        <!-- Comment -->
        <button>
          <app-comment-icon />
        </button>

        <!-- Like button -->
        <button>
          <app-like-icon />
        </button>

        <!-- Retweet -->
        <button href="">
          <app-retweet-icon />
        </button>
      </div>
    </div>
  </article>
</section>
