<!-- Comment Card -->
<article class="my-10 flex flex-row gap-4">
  <!-- User avatar -->
  <img
    class="w-7 h-7 rounded"
    src="https://pbs.twimg.com/profile_images/1714979648424083456/kA54qel7_400x400.jpg"
    alt="{{ comment.author }} avatar"
  />

  <main
    class="flex flex-col gap-1 border-solid border-gray-200 p-2 border-[1px] rounded"
  >
    <!-- User info -->
    <section class="flex flex-row gap-2 items-center p-0 m-0">
      <h5 class="items-center">{{ comment.author }}</h5>
      <span class="text-[0.8rem] items-center">
        {{ comment.createdAt | date : "dd/MM" }}
      </span>
    </section>

    <p class="font-normal text-gray dark:text-white m-0 p-0">
      {{ comment.content }}
    </p>
  </main>
</article>
