<article class="flex flex-row gap-3 w-full">
  <!-- Imagen -->
  <img
    src="https://pbs.twimg.com/profile_images/1714979648424083456/kA54qel7_400x400.jpg"
    alt=""
    class="w-[30px] h-[30px] rounded"
  />

  <!-- Textarea -->
  <textarea
    id="post-comment"
    name="post-comment"
    rows="1"
    class="border-gray-300 border rounded px-2 w-full resize-none overflow-hidden bg-transparent"
    placeholder="Your message..."
  ></textarea>

  <!-- Boton -->
  <button
    (click)="comment()"
    class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600"
  >
    <svg
      class="w-5 h-5 rotate-90 rtl:-rotate-90"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 18 20"
    >
      <path
        d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"
      />
    </svg>
    <span class="sr-only">Send message</span>
  </button>
</article>
