@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(17 24 39);
}

/* Tamaño del scroll en vertical */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
::-webkit-scrollbar-thumb {
    background: #3d3c3c;
    border-radius: 4px;
    height: 110px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: #5a5757;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: #333232;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar-track {
    background: rgb(17 24 39);
    /* background: #e1e1e1; */
    border-radius: 4px;
}

