<div class="max-w-3xl mx-auto p-6 bg-white rounded shadow-md mt-10">
  <h1 class="text-3xl font-bold text-center text-blue-500 mb-6">
    DECLARACIÓN DE ACCESIBILIDAD
  </h1>

  <div class="space-y-4 text-gray-700">
    <h3 class="text-xl font-bold">Situación de cumplimiento</h3>
    <p>
      Nuestro sitio web cumple parcialmente con los estándares de accesibilidad
      debido a los siguientes aspectos:
    </p>
    <ul class="list-disc pl-6">
      <li>
        Es posible que existan fallos puntuales en la edición de contenido HTML
        y documentos publicados después del 20 de septiembre de 2018.
      </li>
      <li>
        Algunos archivos en PDF u otros formatos pueden no cumplir en su
        totalidad los requisitos de accesibilidad.
      </li>
      <li>
        Se han adoptado medidas para mejorar la accesibilidad, como el uso de
        texto alternativo en las imágenes y la descripción de enlaces.
      </li>
      <li>
        Falta de etiquetas semánticas adecuadas para mejorar la estructura y
        navegación del sitio.
      </li>
      <li>
        Falta de texto alternativo en imágenes para proporcionar una descripción
        alternativa.
      </li>
      <li>
        Contraste de color insuficiente en algunos elementos, lo que puede
        dificultar la lectura para personas con problemas de visión.
      </li>
      <li>
        Falta de etiquetas de formulario adecuadas y navegación por teclado en
        elementos interactivos.
      </li>
    </ul>
  </div>

  <h3 class="text-xl font-bold mt-6">
    Preparación de la declaración de accesibilidad
  </h3>
  <p class="mb-4">Esta declaración fue preparada internamente el 07/04/2024.</p>
  <p class="mb-4">Última revisión de la declaración: 07/04/2024.</p>

  <h3 class="text-xl font-bold mt-6">Observaciones y datos de contacto</h3>
  <p>
    Si encuentras algún problema de accesibilidad en nuestro sitio web o tienes
    alguna sugerencia para mejorar la accesibilidad, por favor contáctanos a
    través de
    <a href="mailto:ibrahim.sanusi@educamedrid.org" class="text-blue-500"
      >ibrahim.sanusi&commat;educamedrid.org</a
    >
    o al teléfono <span class="text-blue-500">666666666</span>.
  </p>

  <h3 class="text-xl font-bold mt-6">Procedimiento de aplicación</h3>
  <p>
    Para iniciar una reclamación relacionada con la accesibilidad de nuestro
    sitio web, por favor sigue el procedimiento detallado en nuestra página de
    <a href="#" class="text-blue-500">ibra.es</a>.
  </p>
</div>
